{% extends 'base.html.twig' %}

{% block title %}Hello   {{ app.user.email}}       {% endblock %}

{% block body %}


<div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
               <h1>Hello {{ app.user.email }}! ✅</h1>

                    This friendly message is coming from:
                    <ul>
                        <li>Your controller at <code><a href="{{ '/home/michael/workspace/mongoapp/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
                        <li>Your template at <code><a href="{{ '/home/michael/workspace/mongoapp/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
                    </ul>            
            </div>
            <div class="col"></div>
        </div>
</div>

{% endblock %}
