 <table class="table table-dark table-hover">
    <tr>
        <th>Name</th>
        <th>Cover</th>
        <th>Price</th>
        <th>Action</th> 
    </tr>
    {% for product in products %}
    <tr>
        <td>{{product.name}}</td>
        <td>{{ product.cover}}</td>
        <td>{{ product.price }}</td>
        <td><a href="#">Ändern</a>
            <a href="{{path('product_delete', {productId: product.id})}}">Löschen</a></td>
    </tr>
    
  {% endfor %}  
</table> 
